parameters:
    level: 1
    reportUnmatchedIgnoredErrors: false
    paths:
        - %currentWorkingDirectory%
    excludePaths:
        - dev
    ignoreErrors:
        - '#Call to static method getObjectManager\(\) on an unknown class Magento\\TestFramework\\Helper\\Bootstrap.#'
