.algolia td {
	padding-top: 1rem !important;
}

.algolia-config-warning {
	font-size: 30px;
	color: #D83900;
	position: relative;
	top: 6px;
}

.algolia_help_block {
	font-size: 14px;
	border: 1px solid #e2f0fa;
	border-radius: 5px;
	padding: 15px 20px 15px 93px;
	line-height: 21px;
	background: #f5fafd url("../images/icon-documentation.svg") no-repeat 25px 20px;
}

.algolia_help_block a {
	font-size: 14px !important;
}

.algolia_not_enabled_block {
	border: 1px solid #e2f0fa;
	border-radius: 5px;
	font-size: 16px;
	line-height: 23px;
	padding: 15px 20px 15px 93px;
	background: #fff url("../images/icon-sadface.svg") no-repeat 25px 50%;
	margin-top: 18px;
}

.algolia_not_enabled_block a {
	font-size: 16px !important;
}
